{% extends 'recipes/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load filters %}
{% block title %}
MyRecipe {{ recipe.id }}
{% endblock %}

{% block body %}
<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/about.png' %});">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-text text-center">
                    <h2>{{ recipe.title }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<!-- Receipe Content Area -->
<div class="receipe-content-area">
    <div class="container">

        <div class="row align-items-end">
            <div class="col-12 col-md-6">
                <div class="receipe-headline my-5">
                    <h2>{{ recipe.title }}</h2>
                    <div class="receipe-duration">
                        <h6>Ready in: {{ recipe.time }}  minutes</h6>
                        <h6>Servings: {{ recipe.serves }}</h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="receipe-headline my-5">
                <img class="img-fluid mx-auto d-block" src="{% static '/img/core-img/'|add:recipe.image }} %}" alt="recipe picture">
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="receipe-headline my-5">
                    <form action="{% url 'recipes:delete_myrecipe' %}" method="POST">
                        {% csrf_token %}
                        <input type="text" value="{{ recipe.id }}" hidden name="recipe_id">
                        <button type="submit" class="btn delicious-btn btn-4 little"><i class="fas fa-trash-alt"></i></button>  
                    </form>
                    
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-8">
                <!-- Single Preparation Step -->
                {% for step in steps %}
                <div class="single-preparation-step d-flex">
                    <h4>{{ step.number }}</h4>
                    <p>{{ step.step }}</p>
                </div>
                {% endfor %}
            </div>

            <!-- Ingredients -->
            <div class="col-12 col-lg-4">
                <div class="ingredients">
                    <h4>Ingredients</h4>
                    <ul>
                        {% for ingredient in ingredients %}
                        <li class="mb-1">{{ ingredient.amount|floatformat }} 
                            {% if ingredient.unit %}{{ ingredient.unit|lower }} of {% endif %}
                            {{ ingredient.name }}
                            {% if ingredient.meta %} -  {{ ingredient.meta }}{% endif %}
                        </li>
                        {% endfor %}
                    </ul> 
                </div>
            </div>
        </div>
        {% if recipe.wine_pairing != null and recipe.wine_pairing != 'None' %}
        <div class="row">
            <div class="col-12">
                <h4>Wine/drinks Pairing</h4>
                <p>{{ recipe.wine_pairing }}</p>
            </div>
        </div>
        {% endif %}
    </div>
</div>


<script src="{% static 'js/recipe.js' %}"></script>
{% endblock %}