{% extends 'recipes/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load filters %}
{% load tz %}
{% block title %}
MyPantry
{% endblock %}

{% block body %}
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/breadcumb3.jpg' %});">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-text text-center">
                    <h2>MyPantry</h2>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="receipe-post-area section-padding-80">
    <p class="text-center mb-5 mx-5">Add items to pantry. Optional features: edit quantity, add use by/best before dates, when opened date, when frozen date and add 'use within' information.</p>
    <!-- Pantry Items Search and add -->
    <div class="receipe-post-search mb-5">
        <div class="container">
            <form method="post" id="addpantryform" onsubmit="addtopantry(); return false;">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-lg col-12">
                        <select name="intolerance" id="intolerance" multiple js-placeholder="Select any intolerance(s)">
                            <option value="0">No intolerance</option>
                            <option value="Dairy">Dairy</option>
                            <option value="Egg">Egg</option>
                            <option value="Gluten">Gluten</option>
                            <option value="Grain">Grain</option>
                            <option value="Peanut">Peanut</option>
                            <option value="Seafood">Seafood</option>
                            <option value="Sesame">Sesame</option>
                            <option value="Shellfish">Shellfish</option>
                            <option value="Soy">Soy</option>
                            <option value="Sulfite">Sulfite</option>
                            <option value="Tree Nut">Tree Nut</option>
                            <option value="Wheat">Wheat</option>
                        </select>
                    </div>
                    <div class="col-lg col-12">
                        <div class="ui-widget">
                            <div class="input-group mx-auto">
                            <div class="input-group-prepend"><div class="input-group-text">
                                <i class="fas fa-search"></i>
                            </div></div>
                                <input type="search" id="searchinput" oninput="searchingredients();" class="form-control ui-autocomplete-input" name="search" placeholder="Search Ingredients"  autocomplete="off">
                                <div id="searcherror" class="invalid-feedback" style="display: none;">
                                    Pantry item not found
                                </div>
                                <div id="addpantrye" class="invalid-tooltip" style="display: none;">
                                </div>
                                <div id="addpantrys" class="valid-tooltip" style="display: none;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg col-12">
                        <button type="submit" id="pantryadd" class="btn delicious-btn btn-block" disabled>Add to Pantry</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="container h-100" id="virtualPantry">
        <div class="row h-100">
            <div class="col-lg-3" id="fridge">
                <div id="other" class="pantry row">
                    {% for item in items %}
                    {% if item.pantry_item.aisle == "Refrigerated" %}
                    <div id="item{{ item.id }}" onclick="addMonthDay('{{ item.id }}');" class="other pantry draggable ui-widget-content" data-toggle="modal" data-target="#modal{{ item.id }}">
                        {{ item.pantry_item.name|title}}
                    </div>
                    {% endif %}
                    {% if item.pantry_item.aisle == "Nut butters, Jams, and Honey" %}
                    <div id="item{{ item.id }}" onclick="addMonthDay('{{ item.id }}');" class="other pantry draggable ui-widget-content" data-toggle="modal" data-target="#modal{{ item.id }}">
                        {{ item.pantry_item.name|title}}
                    </div>
                    {% endif %}
                    {% if item.pantry_item.aisle == "Milk, Eggs, Other Dairy" %}
                    <div id="item{{ item.id }}" onclick="addMonthDay('{{ item.id }}');" class="other pantry draggable ui-widget-content" data-toggle="modal" data-target="#modal{{ item.id }}">
                        {{ item.pantry_item.name|title}}
                    </div>
                    {% endif %}
                    {% if item.pantry_item.aisle == "Cheese" %}
                    <div id="item{{ item.id }}" onclick="addMonthDay('{{ item.id }}');" class="other pantry draggable ui-widget-content" data-toggle="modal" data-target="#modal{{ item.id }}">
                        {{ item.pantry_item.name|title}}
                    </div>
                    {% endif %}
                    {% endfor %}
                    
                </div>
                <div id="meat" class="pantry row">
                    {% for item in items %}
                    {% if item.pantry_item.aisle == "Meat" %}
                    <div id="item{{ item.id }}" onclick="addMonthDay('{{ item.id }}');" class="meat pantry draggable ui-widget-content" data-toggle="modal" data-target="#modal{{ item.id }}">
                        {{ item.pantry_item.name|title}}
                    </div>
                    {% endif %}
                    {% if item.pantry_item.aisle == "Seafood" %}
                    <div id="item{{ item.id }}" onclick="addMonthDay('{{ item.id }}');" class="meat pantry draggable ui-widget-content" data-toggle="modal" data-target="#modal{{ item.id }}">
                        {{ item.pantry_item.name|title}}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div id="produce" class="pantry row">
                    {% for item in items %}
                    {% if item.pantry_item.aisle == "Produce" %}
                    <div id="item{{ item.id }}" onclick="addMonthDay('{{ item.id }}');" class="produce pantry draggable ui-widget-content" data-toggle="modal" data-target="#modal{{ item.id }}">
                        {{ item.pantry_item.name|title}}
                    </div>
                    {% endif %}
                    {% endfor %} 
                </div>
                <div id="frozen" class="pantry row">
                    {% for item in items %}
                    {% if item.pantry_item.aisle == "Frozen" %}
                    <div id="item{{ item.id }}" onclick="addMonthDay('{{ item.id }}');" class="frozen pantry draggable ui-widget-content" data-toggle="modal" data-target="#modal{{ item.id }}">
                        {{ item.pantry_item.name|title}}
                    </div>
                    {% endif %}
                    {% endfor %}   
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div id="top1" class="pantry col-lg">
                        {% for item in items %}
                        {% if item.pantry_item.aisle == "Canned and Jarred" %}
                        <div id="item{{ item.id }}" onclick="addMonthDay('{{ item.id }}');" class="top1 pantry draggable ui-widget-content" data-toggle="modal" data-target="#modal{{ item.id }}">
                            {{ item.pantry_item.name|title}}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div id="top2" class="pantry col-lg">
                        {% for item in items %}
                        {% if item.pantry_item.aisle == "Oil, Vinegar, Salad Dressing" %}
                        <div id="item{{ item.id }}" onclick="addMonthDay('{{ item.id }}');" class="top2 pantry draggable ui-widget-content" data-toggle="modal" data-target="#modal{{ item.id }}">
                            {{ item.pantry_item.name|title}}
                        </div>
                        {% endif %}
                        {% if item.pantry_item.aisle == "Condiments" %}
                        <div id="item{{ item.id }}" onclick="addMonthDay('{{ item.id }}');" class="top2 pantry draggable ui-widget-content" data-toggle="modal" data-target="#modal{{ item.id }}">
                            {{ item.pantry_item.name|title}}
                        </div>
                        {% endif %}
                        {% if item.pantry_item.aisle == "Savory Snacks" %}
                        <div id="item{{ item.id }}" onclick="addMonthDay('{{ item.id }}');" class="top2 pantry draggable ui-widget-content" data-toggle="modal" data-target="#modal{{ item.id }}">
                            {{ item.pantry_item.name|title}}
                        </div>
                        {% endif %}
                        {% if item.pantry_item.aisle == "Sweet Snacks" %}
                        <div id="item{{ item.id }}" onclick="addMonthDay('{{ item.id }}');" class="top2 pantry draggable ui-widget-content" data-toggle="modal" data-target="#modal{{ item.id }}">
                            {{ item.pantry_item.name|title}}
                        </div>
                        {% endif %}
                        {% if item.pantry_item.aisle == "Nuts" %}
                        <div id="item{{ item.id }}" onclick="addMonthDay('{{ item.id }}');" class="top2 pantry draggable ui-widget-content" data-toggle="modal" data-target="#modal{{ item.id }}">
                            {{ item.pantry_item.name|title}}
                        </div>
                        {% endif %}
                        {% if item.pantry_item.aisle == "Dried Fruits" %}
                        <div id="item{{ item.id }}" onclick="addMonthDay('{{ item.id }}');" class="top2 pantry draggable ui-widget-content" data-toggle="modal" data-target="#modal{{ item.id }}">
                            {{ item.pantry_item.name|title}}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div id="top3" class="pantry col-lg">
                        {% for item in items %}
                        {% if item.pantry_item.aisle == "Pasta and Rice" %}
                        <div id="item{{ item.id }}" onclick="addMonthDay('{{ item.id }}');" class="top3 pantry draggable ui-widget-content" data-toggle="modal" data-target="#modal{{ item.id }}">
                            {{ item.pantry_item.name|title}}
                        </div>
                        {% endif %}
                        {% if item.pantry_item.aisle == "Baking" %}
                        <div id="item{{ item.id }}" onclick="addMonthDay('{{ item.id }}');" class="top3 pantry draggable ui-widget-content" data-toggle="modal" data-target="#modal{{ item.id }}">
                            {{ item.pantry_item.name|title}}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div id="middle1" class="pantry col-lg">
                        {% for item in items %}
                        {% if item.pantry_item.aisle == "Spices and Seasonings" %}
                        <div id="item{{ item.id }}" onclick="addMonthDay('{{ item.id }}');" class="middle1 pantry draggable ui-widget-content" data-toggle="modal" data-target="#modal{{ item.id }}">
                            {{ item.pantry_item.name|title}}
                        </div>
                        {% endif %}
                        {% endfor %}   
                    </div>
                    <div id="middle2" class="pantry col-lg">
                        {% for item in items %}
                        {% if item.pantry_item.aisle == "Bread" or item.pantry_item.aisle == "Bakery" %}
                        <div id="item{{ item.id }}" onclick="addMonthDay('{{ item.id }}');" class="middle2 pantry draggable ui-widget-content" data-toggle="modal" data-target="#modal{{ item.id }}">
                            {{ item.pantry_item.name|title }}
                        </div>
                        {% endif %}
                        {% if item.pantry_item.aisle == "Cereal" %}
                        <div id="item{{ item.id }}" onclick="addMonthDay('{{ item.id }}');" class="middle2 pantry draggable ui-widget-content" data-toggle="modal" data-target="#modal{{ item.id }}">
                            {{ item.pantry_item.name|title }}
                        </div>
                        {% endif %}
                        {% if item.pantry_item.aisle == "Tea and Coffee" %}
                        <div id="item{{ item.id }}" onclick="addMonthDay('{{ item.id }}');" class="middle2 pantry draggable ui-widget-content" data-toggle="modal" data-target="#modal{{ item.id }}">
                            {{ item.pantry_item.name|title }}
                        </div>
                        {% endif %}
                        {% endfor %}   
                    </div>
                    <div id="middle3" class="pantry col-lg">
                        {% for item in items %}
                        {% if item.pantry_item.aisle == "Alcoholic Beverages" %}
                        <div id="item{{ item.id }}" onclick="addMonthDay('{{ item.id }}');" class="middle3 pantry draggable ui-widget-content" data-toggle="modal" data-target="#modal{{ item.id }}">
                            {{ item.pantry_item.name|title}}
                        </div>
                        {% endif %}
                        {% if item.pantry_item.aisle == "Beverages" %}
                        <div id="item{{ item.id }}" onclick="addMonthDay('{{ item.id }}');" class="middle3 pantry draggable ui-widget-content" data-toggle="modal" data-target="#modal{{ item.id }}">
                            {{ item.pantry_item.name|title}}
                        </div>
                        {% endif %}
                        {% endfor %}   
                    </div>
                </div>
                <div class="row">
                    <div id="bottom1" class=" pantry col-lg">
                        {% for item in items %}
                        {% if item.pantry_item.aisle == "Gourmet" %}
                        <div id="item{{ item.id }}" onclick="addMonthDay('{{ item.id }}');" class="bottom1 pantry draggable ui-widget-content" data-toggle="modal" data-target="#modal{{ item.id }}">
                            {{ item.pantry_item.name|title}}
                        </div>
                        {% endif %}
                        {% if item.pantry_item.aisle == "Ethnic Foods" %}
                        <div id="item{{ item.id }}" onclick="addMonthDay('{{ item.id }}');" class="bottom1 pantry draggable ui-widget-content" data-toggle="modal" data-target="#modal{{ item.id }}">
                            {{ item.pantry_item.name|title}}
                        </div>
                        {% endif %}
                        {% if item.pantry_item.aisle == "Not in Grocery Store" or item.pantry_item.aisle == "Homemade" %}
                        <div id="item{{ item.id }}" onclick="addMonthDay('{{ item.id }}');" class="bottom1 pantry draggable ui-widget-content" data-toggle="modal" data-target="#modal{{ item.id }}">
                            {{ item.pantry_item.name|title}}
                        </div>
                        {% endif %}
                        {% endfor %}  
                    </div>
                    <div id="bottom2" class="pantry col-lg">
                        {% for item in items %}
                        {% if item.pantry_item.aisle == "Gluten Free" %}
                        <div id="item{{ item.id }}" onclick="addMonthDay('{{ item.id }}');" class="bottom2 pantry draggable ui-widget-content" data-toggle="modal" data-target="#modal{{ item.id }}">
                            {{ item.pantry_item.name|title}}
                        </div>
                        {% endif %}
                        {% if item.pantry_item.aisle == "Health Foods" %}
                        <div id="item{{ item.id }}" onclick="addMonthDay('{{ item.id }}');" class="bottom2 pantry draggable ui-widget-content" data-toggle="modal" data-target="#modal{{ item.id }}">
                            {{ item.pantry_item.name|title}}
                        </div>
                        {% endif %}
                        {% endfor %} 
                    </div>
                    <div id="bottom3" class="pantry col-lg">
                        {% for item in items %}
                        {% if item.pantry_item.aisle == "Online" %}
                        <div id="item{{ item.id }}" onclick="addMonthDay('{{ item.id }}');" class="bottom3 pantry draggable ui-widget-content" data-toggle="modal" data-target="#modal{{ item.id }}">
                            {{ item.pantry_item.name|title}}
                        </div>
                        {% endif %}
                        {% if item.pantry_item.aisle == "Grilling Supplies" %}
                        <div id="item{{ item.id }}" onclick="addMonthDay('{{ item.id }}');" class="bottom3 pantry draggable ui-widget-content" data-toggle="modal" data-target="#modal{{ item.id }}">
                            {{ item.pantry_item.name|title}}
                        </div>
                        {% endif %}
                        {% if item.pantry_item.aisle == "" %}
                        <div id="item{{ item.id }}" onclick="addMonthDay('{{ item.id }}');" class="bottom3 pantry draggable ui-widget-content" data-toggle="modal" data-target="#modal{{ item.id }}">
                            {{ item.pantry_item.name|title}}
                        </div>
                        {% endif %}
                        {% if ";" in item.pantry_item.aisle %}
                        <div id="item{{ item.id }}" onclick="addMonthDay('{{ item.id }}');" class="bottom3 pantry draggable ui-widget-content" data-toggle="modal" data-target="#modal{{ item.id }}">
                            {{ item.pantry_item.name|title}}
                        </div>
                        {% endif %}
                        {% endfor %} 
                    </div>
                </div>
            </div>
           
        </div>
    </div>





</div>

<div id="modals">
{% for item in items %}
<div class="modal fade " id="modal{{ item.id }}">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">{{ item.pantry_item.name|title }}</h4>
          <button type="button" class="btn" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <img class="img-fluid mx-auto d-block" src="https://spoonacular.com/cdn/ingredients_100x100/{{ item.pantry_item.image }}" alt="pic of item">
                    </div>
                    <div class="col-lg-8" id="topsection{{ item.id }}">
                        <div class="row">
                            <div class="col-lg">
                                <h6>Type: {{ item.pantry_item.aisle|replace_semi_colon:';' }}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg">
                                <h6>Added: <span class="time">{{ item.added|utcfmt }}</span></h6>
                            </div>
                        </div>
                        {% if item.usebefore %}
                        <div class="row" id="usesection{{ item.id }}">
                            <div class="col-lg">
                                <h6>
                                    <span id="usecountdown{{ item.id }}" class="countdown"></span>  
                                    <span id="usetxt{{ item.id }}"> until {{ item.usebefore_text|title }} date</span>
                                    <input id="useref{{ item.id }}" value="{{ item.usebefore|utcfmt }}" style="display: none;">
                                </h6>
                            </div>
                        </div>
                        {% endif %}
                        {% if item.opened %}
                        <div class="row" id="opensection{{ item.id }}">
                            <div class="col-lg">
                                <h6>
                                    <span id="opencountdown{{ item.id }}" class="countdown"></span>  
                                    since opening item
                                    <input id="openref{{ item.id }}" value="{{ item.opened|utcfmt }}" style="display: none;">
                                </h6>
                            </div>
                        </div>
                        {% endif %}
                        {% if item.frozen %}
                        <div class="row" id="frozensection{{ item.id }}">
                            <div class="col-lg">
                                <h6>
                                    <span id="frozencountdown{{ item.id }}" class="countdown"></span>  
                                    since freezing item
                                    <input id="frozenref{{ item.id }}" value="{{ item.frozen|utcfmt }}" style="display: none;">
                                </h6>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg">
                        <div class="accordions mb-80" id="accordion{{ item.id }}" role="tablist" aria-multiselectable="true">
                            
                            <!-- Single Accordian Area -->
                            <div class="panel single-accordion">
                                <h6><a role="button" class="collapsed" aria-expanded="true" aria-controls="collapseOne" data-toggle="collapse" data-parent="#accordion{{ item.id }}" href="#collapseOne{{ item.id }}">
                                    Quantity: <span id="qty{{ item.id }}">{{ item.quantity }}</span>
                                        <span class="accor-open accor"><i class="fas fa-edit"></i>&nbsp;<i class="fa fa-plus" aria-hidden="true"></i></span>
                                        <span class="accor-close accor"><i class="fas fa-edit"></i>&nbsp;<i class="fa fa-minus" aria-hidden="true"></i></span>
                                        </a></h6>
                                <div id="collapseOne{{ item.id }}" class="accordion-content collapse">
                                    <form method='POST' class="form-signin" id="qtyform{{ item.id }}" onsubmit="changeqty('{{ item.id }}'); return false;">
                                        {% csrf_token %}
                                        <div class="form-label-group">
                                            <input type="number" id="inputqty{{ item.id }}" class="form-control" placeholder="Enter Quantity" required autofocus min="1" oninput="checkqty('{{ item.id }}')">
                                            <label for="inputqty{{ item.id }}">Enter Quantity</label>
                                            <div id="qtyerror{{ item.id }}" class="invalid-feedback" style="display: none;">
                                                Please provide a valid number, must be 1 or more.
                                            </div>
                                        </div>
                                        <button type="submit" class="btn delicious-btn btn-block">Update Quantity</button>
                                    </form>
                                </div>
                            </div>
            
                            <!-- Single Accordian Area -->
                            <div class="panel single-accordion">
                                <h6>
                                    <a role="button" class="collapsed" aria-expanded="true" aria-controls="collapseTwo" data-parent="#accordion{{ item.id }}" data-toggle="collapse" href="#collapseTwo{{ item.id }}">
                                        <span id="usetext{{ item.id }}">{{ item.usebefore_text|default:"Use By/Best Before"}}</span>:  <span id="usedate{{ item.id }}" class="date">{{ item.usebefore|utcfmt|default:"No use-by or best-before date provided" }}</span>
                                        <span class="accor-open accor"><i class="fas fa-edit"></i>&nbsp;<i class="fa fa-plus" aria-hidden="true"></i></span>
                                        <span class="accor-close accor"><i class="fas fa-edit"></i>&nbsp;<i class="fa fa-minus" aria-hidden="true"></i></span>
                                            </a>
                                </h6>
                                <div id="collapseTwo{{ item.id }}" class="accordion-content collapse">
                                    <form method='POST' class="form-signin" id="useform{{ item.id }}" onsubmit="changeuseby('{{ item.id }}'); return false;">
                                        {% csrf_token %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="radiotext{{ item.id }}" id="use{{ item.id }}" value="Use By" checked>
                                            <label for="use{{ item.id }}" class="form-check-label">Use By</label>
                                            
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="radiotext{{ item.id }}" id="best{{ item.id }}" value="Best Before">
                                            <label for="best{{ item.id }}" class="form-check-label">Best Before</label>
                                            
                                        </div>
                                        
                                        <div class="form-label-group">
                                            <input oninput="checkdate('{{ item.id }}', 'use')" type="date" id="inputuse{{ item.id }}" class="form-control inputdate" placeholder="Enter Date" required data-toggle="tooltip" data-placement="bottom" title="If quantity is more than 1, choose the date that is the closest to today">
                                            <label for="inputuse{{ item.id }}">Enter Date</label>
                                            <div id="useerror{{ item.id }}" class="invalid-feedback" style="display: none;">
                                                Please provide a valid date, must NOT be in the past.
                                            </div>
                                        </div>
                                        <button type="submit" class="btn delicious-btn btn-block">Update Date</button>
                                    </form>
                                </div>
                            </div>
            
                            <!-- Single Accordian Area -->
                            <div class="panel single-accordion">
                                <h6>
                                    <a role="button" aria-expanded="true" aria-controls="collapseThree" class="collapsed" data-parent="#accordion{{ item.id }}" data-toggle="collapse" href="#collapseThree{{ item.id }}">
                                        Opened: <span id="opendate{{ item.id }}" class="date">{{ item.opened|utcfmt|default:"Not opened/ Not something that can be opened" }}</span>
                                        <span class="accor-open accor"><i class="fas fa-edit"></i>&nbsp;<i class="fa fa-plus" aria-hidden="true"></i></span>
                                        <span class="accor-close accor"><i class="fas fa-edit"></i>&nbsp;<i class="fa fa-minus" aria-hidden="true"></i></span>
                                        </a>
                                </h6>
                                <div id="collapseThree{{ item.id }}" class="accordion-content collapse">
                                    <form method='POST' class="form-signin" id="openform{{ item.id }}" onsubmit="changeopen('{{ item.id }}'); return false;">
                                        {% csrf_token %}
                                        <div class="form-label-group">
                                            <input oninput="checkdate('{{ item.id }}', 'open')" type="date" id="inputopen{{ item.id }}" class="form-control inputdate" placeholder="Enter Date" required data-toggle="tooltip" data-placement="bottom" title="If quantity is more than 1, choose the date that is the closest to today">
                                            <label for="inputopen{{ item.id }}">Enter Date</label>
                                            <div id="openerror{{ item.id }}" class="invalid-feedback" style="display: none;">
                                                Please provide a valid date, must NOT be in the past.
                                            </div>
                                        </div>
                                        <button type="submit" class="btn delicious-btn btn-block">Update Date</button>
                                    </form>
                                </div>
                            </div>

                            <!-- Single Accordian Area -->
                            <div class="panel single-accordion">
                                <h6>
                                    <a role="button" aria-expanded="true" aria-controls="collapseFour" class="collapsed" data-parent="#accordion{{ item.id }}" data-toggle="collapse" href="#collapseFour{{ item.id }}">
                                        Frozen: <span id="frozendate{{ item.id }}" class="date">{{ item.frozen|utcfmt|default:"Not frozen/ Cannot be frozen" }}</span>
                                        <span class="accor-open accor"><i class="fas fa-edit"></i>&nbsp;<i class="fa fa-plus" aria-hidden="true"></i></span>
                                        <span class="accor-close accor"><i class="fas fa-edit"></i>&nbsp;<i class="fa fa-minus" aria-hidden="true"></i></span>
                                        </a>
                                </h6>
                                <div id="collapseFour{{ item.id }}" class="accordion-content collapse">
                                    <form method='POST' class="form-signin" id="frozenform{{ item.id }}" onsubmit="changefrozen('{{ item.id }}'); return false;">
                                        {% csrf_token %}
                                        <div class="form-label-group">
                                            <input oninput="checkdate('{{ item.id }}', 'frozen')" type="date" id="inputfrozen{{ item.id }}" class="form-control inputdate" placeholder="Enter Date" required data-toggle="tooltip" data-placement="bottom" title="If quantity is more than 1, choose the date that is the closest to today">
                                            <label for="inputfrozen{{ item.id }}">Enter Date</label>
                                            <div id="frozenerror{{ item.id }}" class="invalid-feedback" style="display: none;">
                                                Please provide a valid date, must NOT be in the past.
                                            </div>
                                        </div>
                                        <button type="submit" class="btn delicious-btn btn-block">Update Date</button>
                                    </form>
                                </div>
                            </div>

                            <!-- Single Accordian Area -->
                            <div class="panel single-accordion">
                                <h6>
                                    <a role="button" aria-expanded="true" aria-controls="collapseFive" class="collapsed" data-parent="#accordion{{ item.id }}" data-toggle="collapse" href="#collapseFive{{ item.id }}">
                                        Use within: <span id="uw{{ item.id }}">{{ item.use_within|default:"No 'use within' information provided" }}</span>
                                        <span class="accor-open accor"><i class="fas fa-edit"></i>&nbsp;<i class="fa fa-plus" aria-hidden="true"></i></span>
                                        <span class="accor-close accor"><i class="fas fa-edit"></i>&nbsp;<i class="fa fa-minus" aria-hidden="true"></i></span>
                                        </a>
                                </h6>
                                <div id="collapseFive{{ item.id }}" class="accordion-content collapse">
                                    <form method='POST' class="form-signin" id="uwform{{ item.id }}" onsubmit="changeuw('{{ item.id }}'); return false;">
                                        {% csrf_token %}
                                        <div class="form-label-group">
                                            <textarea id="inputuw{{ item.id }}" class="form-control" rows="3" placeholder="Enter 'Use Within' information e.g. '3 days'" required oninput="checkuw('{{ item.id }}');"></textarea>
                                        </div>
                                        <button type="submit" class="btn delicious-btn btn-block">Update</button>
                                    </form> 
                                </div>
                            </div>
                        </div>
                        <div id="addsuccess{{ item.id }}" class="valid-tooltip" style="display: none;">
                            Added to list
                            </div>
                            <div id="adderror{{ item.id }}" class="invalid-tooltip" style="display: none;">
                            </div>
                    </div>
                </div>
                
            </div>
            
        </div>
        <div class="modal-footer row">
                <form id="deleteform{{ item.id }}" onsubmit="deleteitem('{{ item.id }}'); return false;" class="col-lg">
                {% csrf_token %}   
                   <button type="submit" class="btn btn-4 delicious-btn">
                       <i class="fas fa-trash-alt"></i>  
                   </button>    
               </form>
               <form id="shoppingform{{ item.id }}" onsubmit="shoppingitem('{{ item.id }}'); return false;" class="col-lg">
                {% csrf_token %}    
                   <button type="submit" class="btn btn-4 delicious-btn">
                       Add to MyShoppingList
                   </button>    
               </form>
            

      </div>

      </div>
    </div>
  </div>
{% endfor %}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
{% verbatim %}
<script id="modal_template" type="text/template">
<div class="modal fade " id="modal{{ id }}">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">{{ name }}</h4>
          <button type="button" class="btn" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <img class="img-fluid mx-auto d-block" src="https://spoonacular.com/cdn/ingredients_100x100/{{ image }}" alt="pic of item">
                    </div>
                    <div class="col-lg-8" id="topsection{{ id }}">
                        <div class="row">
                            <div class="col-lg">
                                <h6>Type: {{ aisle }}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg">
                                <h6>Added: <span class="time">{{ added }}</span></h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg">
                        <div class="accordions mb-80" id="accordion{{ id }}" role="tablist" aria-multiselectable="true">
                            
                            <!-- Single Accordian Area -->
                            <div class="panel single-accordion">
                                <h6><a role="button" class="collapsed" aria-expanded="true" aria-controls="collapseOne" data-toggle="collapse" data-parent="#accordion{{ id }}" href="#collapseOne{{ id }}">
                                    Quantity: <span id="qty{{ id }}">{{ quantity }}</span>
                                        <span class="accor-open accor"><i class="fas fa-edit"></i>&nbsp;<i class="fa fa-plus" aria-hidden="true"></i></span>
                                        <span class="accor-close accor"><i class="fas fa-edit"></i>&nbsp;<i class="fa fa-minus" aria-hidden="true"></i></span>
                                        </a></h6>
                                <div id="collapseOne{{ id }}" class="accordion-content collapse">
                                    <form method='POST' class="form-signin" id="qtyform{{ id }}" onsubmit="changeqty('{{ id }}'); return false;">
                                        {% endverbatim %}   {% csrf_token %} {% verbatim %}
                                        <div class="form-label-group">
                                            <input type="number" id="inputqty{{ id }}" class="form-control" placeholder="Enter Quantity" required autofocus min="1" oninput="checkqty('{{ id }}')">
                                            <label for="inputqty{{ id }}">Enter Quantity</label>
                                            <div id="qtyerror{{ id }}" class="invalid-feedback" style="display: none;">
                                                Please provide a valid number, must be 1 or more.
                                            </div>
                                        </div>
                                        <button type="submit" class="btn delicious-btn btn-block">Update Quantity</button>
                                    </form>
                                </div>
                            </div>
            
                            <!-- Single Accordian Area -->
                            <div class="panel single-accordion">
                                <h6>
                                    <a role="button" class="collapsed" aria-expanded="true" aria-controls="collapseTwo" data-parent="#accordion{{ id }}" data-toggle="collapse" href="#collapseTwo{{ id }}">
                                        <span id="usetext{{ id }}">Use By/Best Before</span>:  <span id="usedate{{ id }}" class="date">No use-by or best-before date provided</span>
                                        <span class="accor-open accor"><i class="fas fa-edit"></i>&nbsp;<i class="fa fa-plus" aria-hidden="true"></i></span>
                                        <span class="accor-close accor"><i class="fas fa-edit"></i>&nbsp;<i class="fa fa-minus" aria-hidden="true"></i></span>
                                            </a>
                                </h6>
                                <div id="collapseTwo{{ id }}" class="accordion-content collapse">
                                    <form method='POST' class="form-signin" id="useform{{ id }}" onsubmit="changeuseby('{{ id }}'); return false;">
                                        {% endverbatim %} {% csrf_token %} {% verbatim %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="radiotext{{ id }}" id="use{{ id }}" value="Use By" checked>
                                            <label for="use{{ id }}" class="form-check-label">Use By</label>
                                            
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="radiotext{{ id }}" id="best{{ id }}" value="Best Before">
                                            <label for="best{{ id }}" class="form-check-label">Best Before</label>
                                            
                                        </div>
                                        
                                        <div class="form-label-group">
                                            <input oninput="checkdate('{{ id }}', 'use')" type="date" id="inputuse{{ id }}" class="form-control inputdate" placeholder="Enter Date" required data-toggle="tooltip" data-placement="bottom" title="If quantity is more than 1, choose the date that is the closest to today">
                                            <label for="inputuse{{ id }}">Enter Date</label>
                                            <div id="useerror{{ id }}" class="invalid-feedback" style="display: none;">
                                                Please provide a valid date, must NOT be in the past.
                                            </div>
                                        </div>
                                        <button type="submit" class="btn delicious-btn btn-block">Update Date</button>
                                    </form>
                                </div>
                            </div>
            
                            <!-- Single Accordian Area -->
                            <div class="panel single-accordion">
                                <h6>
                                    <a role="button" aria-expanded="true" aria-controls="collapseThree" class="collapsed" data-parent="#accordion{{ id }}" data-toggle="collapse" href="#collapseThree{{ id }}">
                                        Opened: <span id="opendate{{ id }}" class="date">Not opened/ Not something that can be opened</span>
                                        <span class="accor-open accor"><i class="fas fa-edit"></i>&nbsp;<i class="fa fa-plus" aria-hidden="true"></i></span>
                                        <span class="accor-close accor"><i class="fas fa-edit"></i>&nbsp;<i class="fa fa-minus" aria-hidden="true"></i></span>
                                        </a>
                                </h6>
                                <div id="collapseThree{{ id }}" class="accordion-content collapse">
                                    <form method='POST' class="form-signin" id="openform{{ id }}" onsubmit="changeopen('{{ id }}'); return false;">
                                        {% endverbatim %} {% csrf_token %} {% verbatim %}
                                        <div class="form-label-group">
                                            <input oninput="checkdate('{{ id }}', 'open')" type="date" id="inputopen{{ id }}" class="form-control inputdate" placeholder="Enter Date" required data-toggle="tooltip" data-placement="bottom" title="If quantity is more than 1, choose the date that is the closest to today">
                                            <label for="inputopen{{ id }}">Enter Date</label>
                                            <div id="openerror{{ id }}" class="invalid-feedback" style="display: none;">
                                                Please provide a valid date, must NOT be in the past.
                                            </div>
                                        </div>
                                        <button type="submit" class="btn delicious-btn btn-block">Update Date</button>
                                    </form>
                                </div>
                            </div>

                            <!-- Single Accordian Area -->
                            <div class="panel single-accordion">
                                <h6>
                                    <a role="button" aria-expanded="true" aria-controls="collapseFour" class="collapsed" data-parent="#accordion{{ id }}" data-toggle="collapse" href="#collapseFour{{ id }}">
                                        Frozen: <span id="frozendate{{ id }}" class="date">Not frozen/ Cannot be frozen</span>
                                        <span class="accor-open accor"><i class="fas fa-edit"></i>&nbsp;<i class="fa fa-plus" aria-hidden="true"></i></span>
                                        <span class="accor-close accor"><i class="fas fa-edit"></i>&nbsp;<i class="fa fa-minus" aria-hidden="true"></i></span>
                                        </a>
                                </h6>
                                <div id="collapseFour{{ id }}" class="accordion-content collapse">
                                    <form method='POST' class="form-signin" id="frozenform{{ id }}" onsubmit="changefrozen('{{ id }}'); return false;">
                                        {% endverbatim %}{% csrf_token %} {% verbatim %}
                                        <div class="form-label-group">
                                            <input oninput="checkdate('{{ id }}', 'frozen')" type="date" id="inputfrozen{{ id }}" class="form-control inputdate" placeholder="Enter Date" required data-toggle="tooltip" data-placement="bottom" title="If quantity is more than 1, choose the date that is the closest to today">
                                            <label for="inputfrozen{{ id }}">Enter Date</label>
                                            <div id="frozenerror{{ id }}" class="invalid-feedback" style="display: none;">
                                                Please provide a valid date, must NOT be in the past.
                                            </div>
                                        </div>
                                        <button type="submit" class="btn delicious-btn btn-block">Update Date</button>
                                    </form>
                                </div>
                            </div>

                            <!-- Single Accordian Area -->
                            <div class="panel single-accordion">
                                <h6>
                                    <a role="button" aria-expanded="true" aria-controls="collapseFive" class="collapsed" data-parent="#accordion{{ id }}" data-toggle="collapse" href="#collapseFive{{ id }}">
                                        Use within: <span id="uw{{ id }}">No 'use within' information provided</span>
                                        <span class="accor-open accor"><i class="fas fa-edit"></i>&nbsp;<i class="fa fa-plus" aria-hidden="true"></i></span>
                                        <span class="accor-close accor"><i class="fas fa-edit"></i>&nbsp;<i class="fa fa-minus" aria-hidden="true"></i></span>
                                        </a>
                                </h6>
                                <div id="collapseFive{{ id }}" class="accordion-content collapse">
                                    <form method='POST' class="form-signin" id="uwform{{ id }}" onsubmit="changeuw('{{ id }}'); return false;">
                                        {% endverbatim %} {% csrf_token %} {% verbatim %}
                                        <div class="form-label-group">
                                            <textarea id="inputuw{{ id }}" class="form-control" rows="3" placeholder="Enter 'Use Within' information e.g. '3 days'" required oninput="checkuw('{{ id }}');"></textarea>
                                        </div>
                                        <button type="submit" class="btn delicious-btn btn-block">Update</button>
                                    </form> 
                                </div>
                            </div>
                        </div>
                        <div id="addsuccess{{ id }}" class="valid-tooltip" style="display: none;">
                            Added to list
                            </div>
                            <div id="adderror{{ id }}" class="invalid-tooltip" style="display: none;">
                            </div> 
                    </div>
                </div>
                
            </div>
              
            </div>
        <div class="modal-footer">
            <form id="deleteform{{ id }}" onsubmit="deleteitem('{{ id }}'); return false;" class="mr-auto">
              {% endverbatim %}     {% csrf_token %} {% verbatim %}
                   <button type="submit" class="btn btn-4 delicious-btn">
                       <i class="fas fa-trash-alt"></i>  
                   </button>    
               </form>
               <form id="shoppingform{{ id }}" onsubmit="shoppingitem('{{ id }}'); return false;" class="mr-auto">
                {% endverbatim %} {% csrf_token %} {% verbatim %} 
                    <button type="submit" class="btn btn-4 delicious-btn">
                       Add to MyShoppingList
                   </button>
                    
               </form>
      </div>

      </div>
    </div>
  </div> 
</script>
{% endverbatim %}
<script src="{% static 'js/pantry.js' %}"></script>
{% endblock %}