{% extends 'recipes/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load filters %}
{% block title %}
Recipe
{% endblock %}

{% block body %}
<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url({{ recipe.image }});">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-text text-center">
                    <h2>{{ recipe.title }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<!-- Receipe Content Area -->
<div class="receipe-content-area">
    <div class="container">

        <div class="row align-items-end">
            <div class="col-12 col-md-5">
                <div class="receipe-headline my-5">
                    <span><a href="{{ recipe.source_url }}">{% if recipe.credit %}{{ recipe.credit }}{% else %}click here for source{% endif %}</a></span>
                    <h2>{{ recipe.title }}</h2>
                    <div class="receipe-duration">
                        <h6>Ready in: {{ recipe.time }}  minutes</h6>
                        <h6>Servings: {{ recipe.serves }}</h6>
                        <h6>Health score of {{ recipe.health_score|floatformat }}</h6>
                        <h6>Popularity: {{ recipe.popularity }} like(s)</h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="receipe-headline my-5">
                <form id="addtolikedform" method="POST" onsubmit="addtoliked('{{ recipe.api_id }}'); return false;">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-4 delicious-btn" title="Click here to add to MyLikedRecipes"><i class="fas fa-heart"></i></button>
                        <div id="addsuccess" class="valid-tooltip" style="display: none;">
                            Added to MyLikedRecipes
                            </div>
                            <div id="adderror" class="invalid-tooltip" style="display: none;">
                            </div> 
                    </div>
                </div>
                </form>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="receipe-headline my-5">
                <img class="img-fluid mx-auto d-block" src="{{ recipe.image }}" alt="recipe picture">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-8">
                <!-- Single Preparation Step -->
                {% for step in steps %}
                <div class="single-preparation-step d-flex">
                    <h4>{{ step.step }}</h4>
                    <p>{{ step.description }}</p>
                </div>
                {% endfor %}
            </div>

            <!-- Ingredients -->
            <div class="col-12 col-lg-4">
                <div class="ingredients">
                    <h4>Ingredients</h4>
                    <h6>click on <i class="fas fa-exchange-alt"></i> to see substitutions and other units of measurements</h6>
                    <ul>
                        {% for ingredient in ingredients %}
                        <li class="mb-1">
                            <button type="button" class="btn btn-4 delicious-btn little" onclick="extrainfo('{{ ingredient.id }}');"><i class="fas fa-exchange-alt"></i></button>
                            <span id="amount{{ ingredient.id }}">{{ ingredient.amount|floatformat }}</span> 
                            {% if ingredient.unit %}
                            {% if ingredient.unit|lower == "large" or ingredient.unit|lower == "medium" or ingredient.unit|lower == "small" %}
                            {{ ingredient.unit|lower }}
                            {% else %}
                            <span id="unit{{ ingredient.id }}">{{ ingredient.unit|lower }}</span> of 
                            {% endif %}
                            {% endif %}
                            <span id="name{{ingredient.id }}">{{ ingredient.name }}</span>
                            {% if ingredient.meta %} -  {{ ingredient.meta }}{% endif %}
                            <div id="extra{{ ingredient.id }}"></div>
                        </li>
                        {% endfor %}
                    </ul> 
                </div>
            </div>
        </div>
        {% if recipe.wine_pairing != null and recipe.wine_pairing != 'None' %}
        <div class="row">
            <div class="col-12">
                <h4>Wine Pairing</h4>
                <p>{{ recipe.wine_pairing }}</p>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-12">
                <h4>Similar Recipes</h4>
            </div>
        </div>
        <div class="row">
            {% for sim in similar %}
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-small-receipe-area d-flex">
                   
                    <div class="receipe-thumb">
                        {% if sim.image == "static/img/core-img/salad.png" %}
                        <img src="{% static 'img/core-img/salad.png' %}" alt="result image">
                        {% else %}
                        <img src="{{ sim.image }}" alt="result image">
                        {% endif %}
                    </div>
                    
                    <div class="receipe-content">
                        <a href="/recipe/{{ sim.api_id }}">
                            <h5>{{ sim.title|title }}</h5>
                        </a>
                        <span>Servings: {{ sim.serves }}</span>
                        <span>Ready in: {{ sim.time }} mins</span>
                        <span>Healthiness: {{ sim.health_score }}</span>
                        <span>Likes: {{ sim.popularity }}</span>
                        <span><a href="{{ sim.source_url }}">{{ sim.credit|title }}</a></span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
{% verbatim %}
<script id="extra_template" type="text/template">
    <p>Substitutions: <span style="color: #40ba37;">{{ subs }}</span></p>
    <p>Imperial measurement: <span style="color: #40ba37;">{{ imperial }}</span></p>
    <button type="button" class="btn btn-4 delicious-btn little" onclick="closeinfo('{{ id }}');">Close</button>
</script>
{% endverbatim %}
<script src="{% static 'js/recipe.js' %}"></script>
{% endblock %}