{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}{% endblock %}</title>
    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <!-- Preloader -->
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="{% static 'img/core-img/salad.png' %}" alt="loader">
    </div>
    <header class="header-area">
    <div class="delicious-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="deliciousNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="{% url 'accounts:index' %}"><img src="{% static 'img/core-img/logo.png' %}" alt="logo"></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="{% url 'accounts:index' %}">Home</a></li>
                                <li><a href="{% url 'accounts:login' %}">Login</a></li>
                                <li><a href="#">Sign Up</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>

                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->

    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible" role="alert"
    style="position: fixed; z-index: 9999999; margin-top: 100px; margin-left: 25%; width: 50%;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
    {% endfor %}

    <main>
        {% block body %}
        {% endblock %}
    </main>

    <!-- ##### footer picture area ##### -->
    <div class="follow-us-instagram">
        <!-- Instagram Feeds -->
        <div class="insta-feeds d-flex flex-wrap">
            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <img src="{% static 'img/bg-img/insta1.jpg' %}" alt="food pic">
            </div>

            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <img src="{% static 'img/bg-img/insta2.jpg' %}" alt="food pic">
            </div>

            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <img src="{% static 'img/bg-img/insta3.jpg' %}" alt="food pic">
            </div>

            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <img src="{% static 'img/bg-img/insta4.jpg' %}" alt="food pic">
            </div>

            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <img src="{% static 'img/bg-img/insta5.jpg' %}" alt="food pic">
            </div>

            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <img src="{% static 'img/bg-img/insta6.jpg' %}" alt="food pic">
            </div>

            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <img src="{% static 'img/bg-img/insta7.jpg' %}" alt="food pic">
            </div>
        </div>
    </div>
    <!-- ##### footer picture area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 h-100 d-flex flex-wrap align-items-center justify-content-between">
                    <!-- Footer Social Info -->
                    <div class="footer-social-info text-center">
                        <a href="#">privacy</a>
                        <a href="#">cookies</i></a>
                        <a href="#">terms and conditions</a>
                        <a href="#">Spoonacular API</a>
                    </div>
                    <!-- Footer Logo -->
                    <div class="footer-logo">
                        <a href="{% url 'accounts:index' %}"><img src="{% static 'img/core-img/logo.png' %}" alt="logo" width="100px"></a>
                    </div>
                    <!-- Copywrite -->
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->


</body>
    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>
</html>