{% extends 'registration/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
Reset Password
{% endblock %}

{% block body %}

<div class="breadcumb-area bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/breadcumb4.jpg' %});">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-text text-center">
                    <h2>Forgot Password</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<form method="post" class="form-signin">
  {% csrf_token %}
  {% for field in form %}
    <div class="fieldWrapper">
        <div class="form-label-group">
        {{ field.errors }}
        {{ field|attr:"class:form-control"|attr:"placeholder:Email"|attr:"required" }}
        {{ field.label_tag }} 
        {% if field.help_text %}
        <small class="help">{{ field.help_text|safe }}</small>>
        </div> 
        {% endif %}
    </div>
{% endfor %}
  <button class="btn btn-block delicious-btn btn-2 text-center" type="submit">Submit</button>
</form>

{% endblock %}