{% extends 'recipes/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
Change Password
{% endblock %}

{% block body %}

<div class="breadcumb-area bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/breadcumb4.jpg' %});">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-text text-center">
                    <h2>Change Password</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<form method="post" class="form-signin">
    {% csrf_token %}
    {% for field in form %}
      <div class="fieldWrapper">
          <div class="form-label-group">
          {{ field|attr:"class:form-control"|attr:"placeholder:Email"|attr:"required" }}
          {{ field.label_tag }} 
          <small style="color: red">{{ field.errors }}</small>
          {% if field.help_text %}
            <small class="m-4">{{ field.help_text }}</small>
          {% endif %}
      </div>
  {% endfor %}
    <button class="btn btn-block delicious-btn btn-2 text-center" type="submit">Submit</button>
  </form>

{% endblock %}